<body>
   
    <main>
        <div class="container">
            <div class="row">
                <section class="col-md-8 mx-auto">
                    <h2 class="text-info text-center mt-5 text-uppercase">~ EJS ~</h2>
                    <div class="mt-5">
                       <h2> <%= prenom %></h2>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body> 